<div class="container bg-white">
  <div class="row">
    <div class="col-12">
    <h1><%= @article.title %></h1>
    <em><%= @article.category %> - <%= @article.author %></em>
    <p><%= @article.content %></p>
    <div data-controller="favourites">

       <div>
        <%= link_to(article_favourite_path(@article.id), data: {turbo_method: :delete}) do %>
          <i data-favourites-target ="unlike" data-action = "click->favourites#toggle" class="fa-solid fa-heart <%= "d-none" if current_user.favourites.include?(@article) %>" style="color:red"></i>
        <% end %>
      </div>
      <div>
        <%= link_to(article_favourites_path(@article.id), data: {turbo_method: :post}) do %>
          <i data-favourites-target ="like" data-action = "click->favourites#toggle" class="fa-solid fa-heart <%= "d-none" unless current_user.favourites.include?(@article) %>" style="color:grey"></i>
        <% end %>
      </div>

    </div>
    </div>
  </div>
  <div class="row" data-controller="insert-reviews">
    <%@reviews.each do |review|%>
        <%= render "articles/review", article: @article, review: review %>
        <%= link_to "Delete", article_review_path(@article, review.id), data: {turbo_method: :delete} %>
    <%end%>


    <div data-insert-reviews-target="items">
    <%= render "articles/review", article: @article, review: @review %>
    </div>
    <%= render "reviews/form", article: @article, review: @review %>
  </div>
  <% if @article.user == current_user%>
    <%= link_to "Delete", article_path, data: {turbo_method: :delete} %>
  <%end%>
  <%= link_to "Back to all articles", articles_path %>
</div>
